html
{	
	background-color: #f5f6f6

}
body 
{
	  font-family: 'Roboto', sans-serif;
}
* 
{
	  box-sizing: border-box;
	  
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

ul
{
	list-style-type: none;

}

.questions
{
	width: 100%;	
	margin: 0 auto;
	text-align: center;
	

}
.q-list
{
	width: 50%;
	margin: 0 auto;
}

h4.questions
{
	font-size: 25px;
}
p.questions
{
	padding: 10px;
	width: 50%;
}
#q17
{
	padding-bottom: 50px;


}

ol
{

	list-style-type: decimal; 

}


form
{
	text-align: center;
	margin: 0 auto;
	width: 80%;
	padding: 10%;

}

header.main
{
	  background: url(../imgs/spin.jpg) no-repeat center center fixed;
	  background-size: 100%;
	  height: 15%;
	  padding-left: 1%;
}
 
header.about
{
	  background: url(http://2.bp.blogspot.com/-2hulQLmDGng/TkiADkKtTjI/AAAAAAAACXI/fhVZCfSoBHE/s1600/Skydiving%2BWallpaper.png) no-repeat center center fixed;
	  background-size: 100%;
	  height: 15%;
	  padding-left: 1%;
}
 
ul a, ol a
{
	text-decoration: none;
}

img
{
    width: 350px;
    padding-right: 10px;
}
.caption 
{
    display: block;
    padding-bottom: 60px;
}
div.item 
{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 350px;
  	margin-top: 2%;
    margin-left: 20%;
    margin-right: -4.75%;
}

.footer-1
{
	width: 100%;
	height: 62.5px;
	background-color: #d6d6d6;
	text-align:center;
	line-height:62.5px;
	color: #191919;
}
.footer-2
{
	width: 100%;
	height: 125px;
	background-color: #eae9e9;
	text-align:center;
	line-height:125px;
	color: #2f2f2f;
}
.footer-3
{
	width: 100%;
	height: 50px;
	background-color: #f5f6f6;
	text-align:center;
	line-height:50px;
	color: #2f2f2f;
}

.inner 
{
	  max-width: 1000px;
	  margin: 0 auto;
	  position: relative;
}
 
#main-home
{
	width: 60%;
	/*background-color: lawngreen; */
	margin: 0 auto;

}
#main-home img
{	
	float: left;
	max-width: 350px;
	padding-bottom: 10%;
	padding-top: 10%

}
#main-home p
{
	color: black;
}

#maintext
{
	width: 70%;
	margin-left: 300px;
	padding-top: 8%;
	padding-left: 10%;

}
.header-bar
{
	padding: 10px;
	width: 60%;
	background-color: #2e6171;
	margin: 0 auto;

}
p.header-bar
{
	color: white;
	text-align: center;

}

.logo 
{
	  text-decoration: none;
	  color: #fff;
	  font-weight: 800;
	  font-size: 30px;
	  line-height: 40px;
 
}
 
p.desc
{
	width: 50%;
	margin: 0 auto;
	color: #fff;
 
}
 
h1 {
	margin: 0;
	float: left;
}
 
h2 
{
	  width: 100%;
	  margin-top: 120px;
	  font-weight: 800;
	  font-size: 40px;
	  text-align: center;
	  color: #eee;
	  background-color: rgba(0,0,0, .5);
	  padding: 1em;
}
 
/*nav ul
{
padding-right:5%; 

}
*/
nav > ul 
{
  	float: right;
}

/*nav > ul > li > a {
	padding-left: 10%;
	padding-right: 10%;	
}
*/
nav a 
{
	color: white;
	display: block;
	padding: 1em;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}
nav a.active
{
	background-color: rgba(0,0,0, .5);
}
nav ul {
	float: right;
	text-align: right;
	padding-top: .5em;
}
nav li {
	display: inline-block;
}
nav a 
{
	cursor: pointer;
	display: block;
  	outline: none;
  	width: 100%;
	text-decoration: none;
}
nav a:hover
{
	  color: #777;
}
/*nav > ul li ul li 
{
	  width: 100%;
  	text-align: left;
}
 
nav ul li:hover 
{
	  cursor: pointer;
	  position: relative;
}
nav ul li:hover > ul 
{
  	display: block;
}
nav ul li:hover > a 
{
	  color: #777;
}
nav > ul > li > a 
{
	cursor: pointer;
	display: block;
  	outline: none;
  	width: 100%;
	text-decoration: none;
}
 
nav > ul > li 
{
  	float: left;
  	text-align: center;
}

nav > ul li ul 
{
  	display: none;
  	position: absolute;
  	left: 0;
	  top: 100%;
  	width: 100%;
	  z-index: 2000;
}
nav > ul li ul li > a 
{
	  text-decoration: none;
}
 
[type="checkbox"], label 
{
	  display: none;
}
 */




@media screen and (max-width: 768px) {
	nav ul {
		  display: none;
	}
 
	label 
	{
  		display: block;
		width: 40px;
  		height: 40px;
  		cursor: pointer;
		position: absolute;
		right: 20px;
  		top: 0px;
	}
  
label:after{
  content:'';
  display: block;
  width: 30px;
  height: 5px;
  background: #fff;
  margin: 7px 5px;
  box-shadow: 0px 10px 0px #fff, 0px 20px 0px #fff
}
 
	[type="checkbox"]:checked ~ ul {
  		display: block;
  		z-index: 9999;
  		position: absolute;
		  right: 20px;
		  left: 20px;
	}
 
	nav a {
		  color: #777;
	}
 
	nav ul li {
		  display: block;
  		float: none;
  		width: 100%;
  		text-align: left;
  		background: #222;
		  text-indent: 20px;
	}
 
	nav > ul > li {
  		margin-left: 0px;
	}
 
	nav > ul li ul li {
  		display: block;
		  float: none;
	}
  
	nav > ul li ul {
		  display: block;
  		position: relative;
  		width: 100%;
		  z-index: 9999;
		  float: none;
	}
h1 {
	  font-size: 26px;
}
